<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/tiff.min.js"></script>
    <script src="static/index.js"></script>
</head>
<body>
    <h1>Barcode decoder (interleaved2of5)</h1>
    <img src="#" id="previewImage"/>
    <div id="imageDiv"></div>
    <input type="file" id="fileInput" onchange="onImageChange(this)">
    <input type="submit" onclick="sendAndRecognize()" >
    <h2>Decoded values is:</h2>
    <h2 id="resultText"></h2>
</body>
</html>